@if(identificacion && identificacion.rol=='ROLE_ADMIN'){
    <h1>{{titulo}}</h1>
    @if(alertMessage){
        <div>{{alertMessage}}</div>
    }
    <form #formArtista="ngForm" (ngSubmit)="onSubmit()">
        <label for="nombre">Nombre</label><br>
        <input type="text" id="nombre" #nombre="ngModel" name="nombe" [(ngModel)]="artista.nombre" required><br><br>
        <label for="descripcion">Descripción</label><br>
        <textarea #descripcion="ngModel" [(ngModel)]="artista.descripcion" name="descripcion" id="descripcion" required></textarea><br><br>
        <input type="submit" value="Crear nuevo artista"> 
    </form>
}@else{
    <h1>Error</h1>
    <p>No tienes acceso a esta parte de la aplicación</p>
}

