@if(album){
    <div>
        <div>
            @if(album.imagen && album.imagen!==null){
                <img src="{{url+'get-image-album/'+album.imagen}}" style="width: 10rem;">
            }
        </div>
        <div>
            <h1>{{album.titulo}}</h1>
            <p>{{album.anyo}}</p>
            <p><b>{{album.artista.nombre}}</b></p>
            <p>{{album.descripcion}}</p>

            @if(identificacion.rol=='ROLE_ADMIN'){
                <button [routerLink]="['/anyadirCancion',album._id]">Añadir cancion</button>
            }
        </div>
        <!-- Listar canciones -->
        @if(canciones){
            <div>
                <ul>
                    @for(cancion of canciones;track cancion._id){
                        <li>
                            <button (click)="startPlayer(cancion)">Play</button>
                            {{cancion.numero+'. '+cancion.nombre+' - '+cancion.duracion}}
                            @if(identificacion.rol=='ROLE_ADMIN'){
                                <div>
                                    <button [routerLink]="['/actualizarCancion',cancion._id]">Editar</button>
                                    <button (click)="onDeleteConfirm(cancion._id)">Borrar</button>
                                </div>
                            }
                            @if(confirmado==cancion._id){
                                <div>
                                    <button (click)="onDeleteSong(cancion._id)">Eliminar</button>
                                    <button (click)="onCancelSong()">Cancelar</button>
                                </div>
                            }
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
}
