@if(identificacion){
    <div>
        <h1>{{title}}</h1>
        <span>{{identificacion.nombre}} {{identificacion.apellidos}}</span>
        <br>
        <button (click)="logout()">Cerrar sesión</button>
    </div>
}

@if(identificacion){
    <div>
        <p>Estas logueado en la aplicacion</p>
    </div>
}

@if(!identificacion){
    <div class="formularios">
        <div>
            <h1>Identificate</h1>
            @if(errorMessage){
                <div>
                    <strong>Error </strong>{{errorMessage}}
                </div>
            }
            <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="formuIdent">
                <label for="usuario">Correo electrónico:</label><br/>
                <input type='email' #email="ngModel" name='correo' [(ngModel)]="usuario.email" required/>
                <br/><br/>
                <label for="contrasenya">Contraseña:</label><br/>
                <input type='password' #contrasenya="ngModel" name='contrasenya' [(ngModel)]="usuario.contrasenya" required/>
                <br/><br/>
                <input type='submit' value="Entrar"/>
                <p>Si no tienes cuenta registrate <a routerLink="/registrarse">aquí.</a></p>
            </form>  
        </div>
        <router-outlet></router-outlet>
    </div>
}


