@if(identificacion){
    <div>
        <h1>{{title}}</h1>
        <nav id="navigation">
           
        </nav>
        <nav id="user_navigation">
            <!-- Imagen usuario -->
            <div>
                <img id="imagen_usuario" src="{{url + '/get-image-user/' + identificacion.imagen}}" style="width: 10rem;">
            </div>
            <!-- Nombre usuario -->
            <span id="nombre_usuario">{{identificacion.nombre}}</span>
            <br>
            <!-- Enlaces a contenido -->
            <a [routerLink]="['/misDatos']" [routerLinkActive]="['actived']">Mis datos</a><br>
            <a [routerLink]="['/artists',1]" [routerLinkActive]="['actived']">Artistas</a><br>
            <a [routerLinkActive]="['actived']">Albums</a><br><br>
            <!-- Cerrar sesion -->
            <button (click)="logout()">Cerrar sesión</button>
        </nav>
    </div>
}

@if(identificacion){
    <div>
        <router-outlet></router-outlet>
    </div>
}

@if(!identificacion){
    <div class="formularios">
        <div>
            <h1>Identificate</h1>
            @if(errorMessage){
                <div>
                    <strong>Error </strong>{{errorMessage}}
                </div>
            }
            <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="formuIdent">
                <label for="usuario">Correo electrónico:</label><br/>
                <input type='email' #email="ngModel" name='correo' [(ngModel)]="usuario.email" required/>
                <br/><br/>
                <label for="contrasenya">Contraseña:</label><br/>
                <input type='password' #contrasenya="ngModel" name='contrasenya' [(ngModel)]="usuario.contrasenya" required/>
                <br/><br/>
                <input type='submit' value="Entrar"/>
            </form>  
        </div>
        <app-registro/>
    </div>
}




