.formularios{
    display: flex;
    justify-content: center;
    margin: 8rem auto;
}

.formuIdent{
    border-right: 1px solid grey;
    padding:4rem 4rem;
  }

  .actived{
    border-bottom: 4px solid green;
  }

  .aster{
    color: red;
  }

  label{
    font-weight: bold;
  }



  



  