<div>
    <h1>{{titulo}}</h1>
    
    <ul class="botonesLista">
        <li><button [routerLink]="['/albums',prev_page]">&laquo;</button></li>
        <li><button [routerLink]="['/albums',next_page]">&raquo;</button></li>
    </ul>
</div>

<!-- Lista de albums-->
<div>
    @if(identificacion){
        <ul class="listaArtistas">
            @for(album of album_s; track album._id){
                <li>
                    <div>
                        <img src="{{url + 'get-image-album/' + album.imagen}}" style="width: 10rem;">
                    </div>
                    <div>
                        <!-- Detalle album -->
                        <a [routerLink]="['/album',album._id]">
                            {{album.titulo}}
                        </a>
                        <!-- Borrar artista -->
                        @if(identificacion.rol=='ROLE_ADMIN'){
                            <div class="botonera">
                                <button [routerLink]="['/actualizarAlbum',album._id]">Editar</button>
                                <button (click)="onDeleteConfirm(album._id)">Borrar</button>
                            </div>
                        }

                        <!-- Confirmacion eliminacion -->
                        @if(confirmado==album._id){
                            <div>
                                <button (click)="onDeleteAlbum(album._id)">Eliminar</button>
                                <button (click)="onCancelAlbum()">Cancelar</button>
                            </div>
                        }

                    </div>
                </li>
            }
        </ul>
    }
</div>

