@if(artista){
    <div>
        <div>
            <!-- Cabecera -->
            <div>
                @if(artista.imagen && artista.imagen!==null){
                    <img src="{{url + 'get-image-artist/' + artista.imagen}}" style="width: 10rem;">
                }
            </div>
            <div>
                <h1>{{artista.nombre}}</h1>
                <p>{{artista.descripcion}}</p>

                @if(identificacion.rol=='ROLE_ADMIN'){
                    <button [routerLink]="['/crearAlbum',artista._id]">Añadir album</button>
                }
            </div>
        </div>
        <br>
        @if(albums){
            <div>
                <!-- Listar albums -->
                <ul>
                    @for(album of albums;track album._id){
                        <li>
                            <div>
                                <img src="{{url+'get-image-album/'+album.imagen}}" style="width: 10rem;">
                            </div>
                            <div>
                                <a [routerLink]="['/album',album._id]">{{album.titulo}}</a><br>
                                <a [routerLink]="['/artista',album.artista._id]">{{album.artista.nombre}}</a>
                                <div>
                                    <div>
                                        <!-- Borrar album -->
                                        @if(identificacion.rol=='ROLE_ADMIN'){
                                            <div class="botonera">
                                                <button [routerLink]="['/actualizarAlbum',album._id]">Editar</button>
                                                <button (click)="onDeleteConfirm(album._id)">Borrar</button>
                                            </div>
                                        }
                
                                        <!-- Confirmacion eliminacion -->
                                        @if(confirmado==album._id){
                                            <div>
                                                <button (click)="onDeleteAlbum(album._id)">Eliminar</button>
                                                <button (click)="onCancelAlbum()">Cancelar</button>
                                            </div>
                                        }
                
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
}

