.listaArtistas{
    display: flex;
    flex-direction: column;
}

.componenteArtista{
    display: flex;
}

.botonesLista{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin:2rem 2rem;
}

.componenteArtista ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
}

.componenteArtista img{
    max-height: 15rem;
    min-height: 15rem;
}

.botonesLista li{
    width: 70px;
    height: 70px;
}

.listArtistas h1,h2{
    font-weight: bold;
    margin:2rem 2rem;
}

.fichas{
    margin: 4rem 3rem;
    padding-bottom: 2rem;
}

.fichas{
    height: 70%;
    width: 100%;
}

.fichas img{
    height: 70%;
}

.botonera button{
    margin:1rem 1rem 4rem 1rem;
} 

.botonera2{
    margin-bottom: 3rem ;
}

.botonera2 button{
    margin: 1rem 1rem;
} 

