@if(identificacion && identificacion.rol=='ROLE_ADMIN'){
    <h1>{{title}}</h1>
    @if(alertMessage){
        <div>{{alertMessage}}</div>
    }

    <form #formSong="ngForm" (ngSubmit)="onSubmit()">
        <label for="numero">Numero</label><br>
        <input type="number" id="numero" #numero="ngModel" name="numero" [(ngModel)]="cancion.numero" required/><br><br>
        <label for="titulo">Titulo</label><br>
        <input type="text" id="titulo" #nombre="ngModel" name="nombre" [(ngModel)]="cancion.nombre" required/><br><br>
        <label for="duracion">Duración</label><br>
        <input type="text" #duracion="ngModel" [(ngModel)]="cancion.duracion" name="duracion" id="duracion" required/><br><br>
        <input type="submit" value="Añadir nueva canción"> 

    </form>
}@else{
    <h1>Error</h1>
    <p>No tienes acceso a esta parte de la aplicación</p>
}    
